<footer class="font-display text-xl flex">
    <div class="container mx-auto flex p-4 justify-between">
        <div>
            <p>Made with Eleventy.</p>
        </div>
        <div>
            <p>Insert shark here.</p>
        </div>
        <div>
            <p>Follow us on</p>
        </div>
    </div>
</footer>