<footer class="footer-container">
    <div class="footer">
        <div>
            <p>Made with Eleventy.</p>
        </div>
        <div>
            <p>Insert shark here.</p>
        </div>
        <div>
            <p>Follow us on</p>
        </div>
    </div>
</footer>