<footer class="font-display text-md md:text-xl flex ">
    <div class="container mx-auto flex p-4 flex-col text-center md:flex-row md:text-left">
        <div>
            <p>Made with Eleventy.</p>
        </div>
        <div>
            <p>Insert shark here.</p>
        </div>
        <div>
            <p>Follow us on</p>
        </div>
    </div>
</footer>