<nav class="navbar-container text-xl">
    <div class="container navbar">
        <ul class="navbar-menu">
            <li>Math4Dev</li>
            <li><a href="/">Home</a></li>
        </ul>
        <ul class="navbar-menu">
            <li>Insert dark mode toggle here</li>
        </ul>
    </div>
</nav>