<nav class="navbar-container text-xl">
    <div class="container navbar">
        <ul class="navbar-menu">
            <li>Math4Dev</li>
            <li><a href="/">Home</a></li>
        </ul>
        <ul class="navbar-menu">
            <li x-data="{theme: localStorage.theme}">
                <button :class="` p-2 transition-colors duration-100 text-sm border rounded ${theme === 'dark' ? ' bg-white text-black ' : ' bg-black text-white '}`"
                        x-text="theme === 'dark' ? 'Light Mode' : 'Dark Mode'"
                        @click="theme = theme === 'dark' ? 'light' : 'dark'"
                >
                </button>
            </li>
        </ul>
    </div>
</nav>