---
layout: layouts/base.ejs
---

<article>
  <header>
    <h1 class="text-left font-bold text-3xl text-gray-800"><%= title %></h1>
    <div class="text-left text-sm mb-8">
      <%= this.dateFns.format(new Date(date), 'LLLL d, yyyy') %>
    </div>
  </header>

  <section class="content"><%- content %></section>
</article>
